::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.App {
  background-image: url("./Vector.png");
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 93vh;
  background-attachment: local;
}
