body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #000;
  font-family: "Didot";
  font-weight: 100;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5) inset,
    0 0 100px rgba(192, 192, 192, 0.5) inset,
    0 0 150px rgba(128, 128, 128, 0.5) inset, 0 0 200px rgba(0, 0, 0, 0.5) inset;
  z-index: -1;
  animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5) inset,
      0 0 100px rgba(192, 192, 192, 0.5) inset,
      0 0 150px rgba(128, 128, 128, 0.5) inset,
      0 0 200px rgba(0, 0, 0, 0.5) inset;
  }
  100% {
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.8) inset,
      0 0 200px rgba(192, 192, 192, 0.8) inset,
      0 0 300px rgba(128, 128, 128, 0.8) inset,
      0 0 400px rgba(0, 0, 0, 0.8) inset;
  }
}
